<?xml version="1.0" encoding="utf-8"?>

<log4net>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{HH:mm:ss,fff} %-5level %-15.15logger{1} %m%n" />
    </layout>
  </appender>
  <appender name="ColoredConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
    <mapping>
      <level value="ERROR" />
      <foreColor value="White" />
      <backColor value="Red" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{HH:mm:ss,fff} %-5level %-15.15logger{1} %m%n" />
    </layout>
  </appender>
  <appender name="RuntimeFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs\\runtime.log" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd'.log'" />
    <maximumFileSize value="10MB" />
    <maxSizeRollBackups value="8" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{ISO8601} %-5level %-15.15logger %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="INFO" />
    <appender-ref ref="ColoredConsoleAppender" />
    <appender-ref ref="RuntimeFileAppender" />
  </root>
  <logger additivity="false" name="PassLog">
    <level value="INFO" />
    <appender-ref ref="RuntimeFileAppender" />
  </logger>
  <logger additivity="false" name="CheatLog">
    <level value="ALL" />
    <appender-ref ref="RuntimeFileAppender" />
  </logger>
  <logger additivity="false" name="RankManagerLog">
    <level value="ALL" />
    <appender-ref ref="RuntimeFileAppender" />
  </logger>
  <logger additivity="false" name="NameChangeLog">
    <level value="ALL" />
    <appender-ref ref="RuntimeFileAppender" />
  </logger>
</log4net>
